@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit&family=Rubik+Mono+One&display=swap');

@import "tailwindcss";

@theme {
  --font-secondary: "Dela Gothic One", "sans-serif";
  --font-for-icon: "Rubik Mono One", monospace;

  /* ------- 背景色 ------- */
  --color-panel-sky: #b4d5de;
  --color-panel-brown: #C3A47B;
  --color-panel-navy: #102E4A;
  --color-panel-gray: #484848;

  /* ------- ボタン系 ------- */
  --color-action-yellow: #F9FF40;
  --color-theme-brown: #C3A47B;
  --color-primary-blue-100: #0A9EFB;
  --color-primary-blue-200: #0C81CA;
  --color-primary-red: #f24822;

  /* ------- フォーム系 ------- */
  --color-form-gray: #F3F3F3;

  /* ------- その他 ------- */
  --color-gradation-brown: #AA8F6B;

}

.btn {@apply
  bg-primary-blue-100 text-white font-bold py-1 px-14 rounded text-center cursor-pointer 
}

.btn-cancel {@apply
  bg-gray-400 text-white font-bold rounded text-center cursor-pointer  
}

.btn-submit {@apply
  bg-primary-blue-100 text-white font-bold rounded text-center cursor-pointer 
}


.page-width{@apply
    bg-form-gray w-full sm:w-full md:w-1/2 xl:w-1/3 mx-auto
}

.form-style {@apply 
  bg-gray-100 px-3 py-2 font-normal text-sm rounded-md border border-gray-100 w-full
  placeholder:text-gray-300 placeholder:font-normal
  focus:bg-gray-50 focus:border-gray-300 focus:outline-none
  transition duration-300 
}

.form-style-2 {@apply 
  bg-gray-100 px-3 py-1 font-normal rounded-md border border-gray-100 w-full
  placeholder:text-gray-300 placeholder:font-normal
  focus:bg-gray-50 focus:border-gray-300 focus:outline-none
  transition duration-300 
}

.select-style {@apply 
  bg-white px-3 py-2 font-normal text-sm rounded-md border border-gray-100 w-full
  placeholder:font-normal
  focus:bg-gray-50 focus:border-gray-300 focus:outline-none
  transition duration-300 
}

.humberger-menu {@apply
  text-black rounded bg-white
  transition duration-300 
  cursor-pointer
}

.devise-form-label {@apply
  block text-gray-500 py-1
}

.card-style {@apply
 rounded-md bg-white 
}

.-no-interact{@apply
  pointer-events-none
  select-none
}

.separator{@apply
  h-1 bg-gray-300 rounded-full blur-[0.5px]
}
/* カスタムカラー ------------------------------------------------------------------------- */
.accent-navy {@apply
 bg-gradient-to-b from-slate-600 to-slate-900
}

.accent-brown {@apply
 bg-gradient-to-b from-panel-brown to-gradation-brown

}

/* 影 ------------------------------------------------------------------------------------ */
.shadow-primary{@apply
  shadow-[0px_4px_0px_rgba(0,0,0,0.36)]
  transition duration-300 ease-in-out transform
  hover:translate-y-[4px] hover:shadow-none
  active:translate-y-[4px] active:shadow-none
}

.shadow-secondary{@apply
  shadow-[0px_3px_0px_rgba(0,0,0,0.36)]
  transition duration-300 ease-in-out transform
  hover:translate-y-[3px] hover:shadow-none
  active:translate-y-[3px] active:shadow-none
}

.shadow-for-lp{@apply
  shadow-[0px_4px_0px_rgba(255,255,255,0.36)]
  transition duration-200 ease-in-out transform
  hover:translate-y-[3px] hover:shadow-none
  active:translate-y-[3px] active:shadow-none
}

.main_action_btn{@apply
  flex
  mt-2 rounded-md py-2 text-[22px] text-center justify-center font-bold
  shadow-[0px_4px_0px_rgba(0,0,0,0.36)]
  transition duration-300 ease-in-out transform 
  hover:translate-y-[4px] hover:shadow-none
  active:translate-y-[4px] active:shadow-none
}
