@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit&family=Rubik+Mono+One&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-secondary: "Dela Gothic One", "sans-serif";
  --font-for-icon: "Rubik Mono One", monospace;

  /* ------- 背景色 ------- */
  --color-panel-sky: #b4d5de;
  --color-panel-brown: #C3A47B;
  --color-panel-navy: #183153;  /* RGB 24, 49, 83 */
  --color-panel-neutral: #484848;

  /* ------- ボタン系 ------- */
  --color-action-yellow: #fff440;
  --color-theme-brown: #C3A47B;
  --color-primary-blue-100: #0A9EFB;
  --color-primary-blue-200: #0C81CA;
  --color-primary-red: #fb2222;

  /* ------- フォーム系 ------- */
  --color-form-neutral: #f0f1f3;

  /* ------- その他 ------- */
  --color-gradation-brown: #AA8F6B;

  --color-dark-theme: #d6b778;

  /* darkmodecolors */
  --color-dark-blue: #5B7594;
  --color-dark-pink: #F5D1C3;
  --color-dark-white: #F7F3F0;
  --color-dark-orange: #F58A6A;
  --color-dark-sky: #B3D9E3;






  
  --animate-fadeInUp: fadeInUp 1.5s ease;
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-x-shake: x-shake 0.8s ease;
  @keyframes x-shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }

  --animate-fadeInDown: fadeInDown 0.4s ease;
  @keyframes fadeInDown {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

    --animate-fadeIn: fadeIn 1s ease-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  --animate-expand: expand 0.8s ease-out;
  @keyframes expand {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-shake: shake 3.0s ease-in-out infinite;
  @keyframes shake {
    0%, 25%, 100% { transform: translateY(0) rotate(0deg) scale(1); }
    5% { transform: translateY(-5px) rotate(-3deg) scale(1.05); }
    10% { transform: translateY(0) rotate(3deg) scale(1); }
    15% { transform: translateY(-3px) rotate(-2deg) scale(1.03); }
    20% { transform: translateY(0) rotate(2deg); }
  }

  --animate-bounce: bounce 1.8s infinite;
  @keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  }
}











@layer utilities {
  /* Tailwindのutilitiesレイヤーでカスタムユーティリティを追加 */
  .no-cancel-button::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }
}

.devise-btn {@apply
  font-bold px-14 rounded-lg text-center cursor-pointer

  bg-neutral-800 text-white 
  hover:bg-neutral-700 active:bg-neutral-700

  dark:bg-white dark:text-black 
  dark:hover:bg-neutral-200 dark:active:bg-neutral-700

}

.devise-btn-animation {@apply
  transition duration-300 ease-in-out transform
  hover:translate-y-[1px] hover:shadow-none
  active:translate-y-[1px] active:shadow-none
}

.btn-cancel {@apply
  bg-neutral-400
   text-white font-bold rounded text-center cursor-pointer border-2
}

.btn-submit {@apply
  bg-primary-blue-100
  dark:bg-theme-brown dark:text-white
   text-white font-bold rounded text-center cursor-pointer 
}

.page-width{@apply
  bg-form-neutral w-full sm:w-2/3 md:w-1/2 xl:w-1/3 2xl:w-1/3  mx-auto
}

.card-style {@apply
 rounded-md bg-white
dark:bg-neutral-800
}

.modal-card-style {@apply
 rounded-xl bg-white
dark:bg-neutral-800
}

.devise-card-style {@apply
  rounded-xl shadow-md bg-white
  dark:bg-neutral-800
}

.form-style {@apply 
  bg-neutral-100 border-neutral-100
  focus:bg-neutral-50 focus:border-neutral-300 
  placeholder:text-neutral-300

  dark:text-white
  dark:bg-neutral-800 dark:border-neutral-600
  dark:focus:bg-neutral-800 dark:focus:border-primary-blue-100
  dark:placeholder:text-neutral-500

  px-3 py-2 text-sm rounded-md border  w-full
  focus:outline-none
  transition-colors duration-300
}

.devise-form-style {@apply 
  bg-white border-neutral-200 shadow-xs
  focus:bg-neutral-50 focus:border-neutral-300 
  placeholder:text-neutral-300

  dark:text-white
  dark:bg-neutral-800 dark:border-neutral-600
  dark:focus:bg-neutral-800 dark:focus:border-primary-blue-100
  dark:placeholder:text-neutral-500

  px-3 py-2 text-sm rounded-lg border  w-full
  focus:outline-none
  transition-colors duration-300
}



.select-style {@apply 
  text-neutral-600
  bg-transparent border-neutral-100
  focus:bg-neutral-50 focus:border-neutral-300

  dark:text-white
  dark:bg-transparent dark:border-neutral-600
  dark:focus:bg-neutral-800

  px-3 py-2 text-sm rounded-md border w-full
  focus:outline-none
}

.-no-interact{@apply
  pointer-events-none
  select-none
}

.separator{@apply
  h-1 rounded-full blur-[0.5px]
  bg-neutral-300
  dark:bg-zinc-800
}
/* カスタムカラー ------------------------------------------------------------------------- */
.expense-accent-color {@apply
  bg-gradient-to-b 
 from-slate-600 to-slate-900
 dark:from-neutral-500 dark:to-neutral-500
}


.trip-accent-color {@apply
  bg-gradient-to-b
 from-slate-600 to-slate-900
 dark:from-neutral-500 dark:to-neutral-500
}

/* 影 ------------------------------------------------------------------------------------ */
.shadow-primary{@apply
  shadow-md 
  /* shadow-[0px_4px_0px_rgba(24,48,82,0.5)] */
  transition duration-300 ease-in-out transform
  hover:translate-y-[4px] hover:shadow-none
  active:translate-y-[4px] active:shadow-none
}

.shadow-for-lp{@apply
  shadow-md
  /* shadow-[0px_4px_0px_rgba(0,0,0,0.2)] */
  transition duration-200 ease-in-out transform
  hover:translate-y-[3px] hover:shadow-none
  active:translate-y-[3px] active:shadow-none
}

.main-action-btn{@apply
  flex 
  mt-2 rounded-lg py-2 text-[22px] text-center justify-center font-bold
  shadow-md 
  /* shadow-[0px_4px_0px_rgba(24,48,82,0.5)] */
  transition duration-300 ease-in-out transform 
  hover:translate-y-[4px] hover:shadow-none
  active:translate-y-[4px] active:shadow-none
}

.flash-element{@apply
text-white text-sm mt-2 px-6 py-3 rounded-md flex cursor-pointer shadow-[0px_2px_10px_rgba(10,10,10,0.6)]
}
