<div class="card-style mx-4 px-1 py-1"> 
  <%# ゲージ表示 stimulus:step-gauge %> 
  <div class="h-2 bg-theme-brown transition-all ease-out duration-[800ms]" style="width: 0%" data-trip-validate-target="stepGauge"></div>
</div>
  
