<% content_for(:title, "旅行編集") %>

<div data-controller="trip-validate" class="flex flex-col h-full">

  <%# stimulus用フラッシュエラーメッセージ ------------------ %>
  <%= render 'layouts/flash_message_for_stimulus' %>

  <%# ページ案内 ------------------ %>
  <h1 class="mt-2 my-2 text-xl font-bold text-center">旅行編集</h1>

  <%# フォーム & ボタン ------------------ %>
  <%= form_with model: @trip, html:{class:"flex flex-col flex-1 min-h-0", data: {"trip-validate-target": "form"}} do |f| %>

    <%# フォームカード %>
    <%= render 'trips/form_card', f: f %>

    <%# ボタン類 %>
    <div class="px-4 py-3">
      <div class="separator"></div>
      <div class="w-full flex">
        <%= link_to "キャンセル", trip_path(@trip), class:"flex-1 main_action_btn bg-gray-400 text-white" %>
        <button class="flex-1 ml-4 main_action_btn bg-primary-blue-100 text-white" data-trip-validate-target="submitBtn" data-action="click->trip-validate#submit">更新</button>
      </div>
    </div>
    
  <% end %>