<% content_for(:title, "旅行編集") %>

<div data-controller="trip-validate" class="flex flex-col h-full">

  <%# stimulus用フラッシュエラーメッセージ ------------------ %>
  <%= render 'layouts/flash_message_for_stimulus' %>

  <%# ページ案内 ------------------ %>
  <h1 class="mt-2 my-2 text-xl font-bold text-center">旅行編集</h1>

  <%# フォーム & ボタン ------------------ %>
  <%= form_with model: @trip, html:{class:"flex flex-col flex-1 min-h-0", data: {"trip-validate-target": "form"}} do |f| %>

    <%# フォームカード %>
    <%= render 'trips/form_card', f: f %>

    <%# ボタン類 %>
    <div class="flex px-4 py-4">
      <%= link_to "キャンセル", trip_path(@trip), class:"w-1/2 mx-6 py-2 btn-cancel shadow-primary" %>
      <div class="w-1/2 mx-6 py-2  btn-submit shadow-primary" >
        <button class="h-full w-full" data-trip-validate-target="submitBtn" data-action="click->trip-validate#submit">更新</button>
      </div>
    </div>
    
  <% end %>