<% content_for(:title, "TOP") %>

<%# ページ案内 ------------------ %>
<h1 class="mt-2 my-2 text-xl font-bold w-full text-center">TOP / 旅行一覧</h1>
<%# 旅行カード ------------------ %>
<% if @trips.present? %>
<%# 旅行あれば表示 %>
  <div class="flex-1 min-h-0 overflow-y-auto flex flex-col">
      <% @trips.each do |trip|%>
        <%= link_to trip_path(trip), class:"mb-4 mx-4" do %>
          <%= render 'trips/trip_card', trip: trip, mode: :index %>
        <% end %>
      <% end %>
  </div>

<% else %>
<%# なければ画像表示 %>
  <div class="flex-1 min-h-0 pt-40">
    <img class="h-4/5 object-contain mx-auto items-center" src="welcome.png" alt="" draggable="false">
  </div>
<% end %>

<%# 仕切り線とボタン ------------------ %>
<div class="mx-4 my-3">
  <div class="separator"></div>
  <%= link_to "旅行記録を作成", new_trip_path, class:"w-full main_action_btn text-panel-navy bg-action-yellow" %>
</div>