<div class="flex items-center relative">
  <%= link_to trip_path(@trip), class:"absolute flex items-center border-2 border-black rounded-md shadow-secondary h-6 w-10 py-0.5 px-0.5 ml-4" do %>
    <%= inline_svg("svg/navigation-arrow.svg", class:"w-full h-full rotate-180 text-panel-navy")%>
  <% end %>
  <h1 class="mt-2 my-2 text-xl font-bold w-full text-center">精算結果</h1>
</div>