<div>
  <h1 class="font-bold">Trips#show</h1>
  <%= render 'trips/trip_card', trip: @trip, mode: :show %>
  <div class="card-style px-4 py-3">
    <div class="px-2 font-bold">参加者一覧</div>
    <ul class="list-disc px-8 pt-2">
      <% @participants.each do |participant|%>
      <li class="text-gray-700"><%= participant.name %></li>
      <% end %>
    </ul>
  </div>


  <% @expenses.each do |expense|%>
    <%= link_to trip_expense_path(@trip, expense) do %>
      <%= render 'expenses/expense_card', expense: expense %>
    <% end %>
  <% end %>

</div>
