<div class="" data-controller="barchart" data-barchart-participants-value="<%= @participants.to_json %>">
  <canvas id="bar-chart" data-barchart-target="myChart" class="w-[400px] h-[400px]">
  </canvas>
</div>