<div class="absolute hidden w-full h-full" data-modal-target="modalEl">
  <div class="absolute w-full h-full z-40 bg-black opacity-0 backdrop-blur-sm transition-opacity duration-200" data-modal-target="modalBgEl" data-action="click->modal#closeModal"></div>

  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-3/4 h-1/2 z-50 opacity-0 scale-80 transition-all duration-200 ease-out" data-modal-target="modalContentEl">

    <div class="w-full card-style flex flex-col py-6">
      <h2 class="w-full text-xl font-bold mb-4 text-gray-900 dark:text-white flex justify-center">グループとは？</h2>

      <!-- 説明文 -->
      <p class="mx-3 text-sm text-gray-700 dark:text-gray-200 mb-2">
        旅行によく行くメンバーをまとめておく機能です。<br>
        旅行作成時にグループを選ぶと、そのメンバーが自動で参加者に追加されます。<br>
        グループ単位での旅行管理もできて便利です！
      </p>

      <!-- 注意喚起 -->
      <p class="mx-3 text-yellow-800 dark:text-yellow-300 text-sm bg-yellow-100 dark:bg-yellow-900 p-2 rounded-md mb-4 text-center">
        旅行ごとに参加者の変更は自由です<br>旅行参加者 ≠ グループメンバー
      </p>

<!-- ボタン -->
      <button class="w-2/5 h-10 bg-neutral-400 cursor-pointer font-bold text-white rounded-md shadow-primary mx-auto" type="button" data-action="click->modal#closeModal">閉じる</button>
    </div>
  </div>
</div>