<div class="bg-panel-navy">
  <%# ↓↓↓ロゴとタイトル↓↓↓ %>
  <div class="flex">
    <img src="/svg/map-pin.svg" alt="">
    <h1 class="text-white">
      TRIP<br>PAYZIES
    </h1>
  </div>

  <ol class="list-decimal pl-6 text-white">
    <li>旅行メンバーを入力してスタート!</li>
    <li>「誰が・いくら・誰の分を」かんたん入力</li>
    <%# <li>グラフで立替状況をひとめいでチェック</li> %>
    <li>最後に、誰が誰にいくら払うかを自動計算!</li>
  </ol>

  <a href="#" class="bg-action-yellow cursor-pointer rounded flex">
    Let's get started!<img src="/svg/plane.svg" alt="飛行機アイコン"> 
  </a>
</div>
