






<%= link_to "Xでシェアする", "https://twitter.com/intent/tweet?text=便利な旅行精算アプリを使ってみよう！&url=https://trippayzies.com", target: "_blank", rel: "noopener", class: "text-blue-500 hover:underline" %>




<div>
  <%= link_to terms_path do %>
  <p>利用規約</p>
  <% end %>

  <%= link_to privacy_path do %>
  <p>プライバシーポリシー</p>
  <% end %>

  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdeJXM3fO6AWB47l_JaVgGeycMHXtHLehyRQTtDsU3I47L7Lg/viewform?usp=dialog">お問い合わせ</a>
</div>
