<!DOCTYPE html>
<html>
<head>
  <title>We're sorry, but something went wrong (500)</title>
  <meta name="viewport">
</head>

  <div class="h-full flex flex-col items-center justify-center text-neutral-500 font-bold gap-4">
    <%= inline_svg("svg/question.svg", class:"w-1/3")%>
    <p class="text-5xl">500: Internal Server Error</p>
    <h1 class="text-center text-sm">申し訳ございません。現在システムに障害が発生しております。</h1>
    <p class="text-center text-sm">対応完了までしばらくお待ちください。</p>
    <p class="text-xs pt-8">※障害の影響により、トップページへ戻れない場合があります。</p>
    <%= link_to "TOPページへ戻る", trips_path, class:" px-4 py-2 hover:text-neutral-700 rounded-md border-2" %>
  </div>

</html>
