<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport">
</head>


  <!-- This file lives in public/404.html -->
  <div class="h-full flex flex-col items-center justify-center text-center text-neutral-500 font-bold gap-4 mx-2">
    <%= inline_svg("svg/question.svg", class:"w-1/3")%>
    <p class="text-5xl">404:<br>Not Found</p>
    <h1 class="text-sm">指定されたページが見つかりませんでした。</h1>
    <p class="text-sm">URLが正しいかご確認いただくか、トップページにお戻りください。</p>
    <%= link_to "TOPページへ戻る", trips_path, class:"my-5 px-4 py-2 hover:text-neutral-700 rounded-md border-2" %>
  </div>

</html>
