<% content_for(:title, "トップ") %>

<body class="bg-white">
  <div class="xl:w-1/3 md:w-1/2 w-full mx-auto h-screen bg-panel-navy">

    <%# ↓↓↓ロゴとタイトル↓↓↓ %>
    <div class="flex justify-center">
      <%= inline_svg("svg/app-icon/svg/app-icon/header-icon.svg", class: "h-26") %>
      <h1 class="font-for_icon text-white text-6xl ml-2">
        <span class="text-theme-brown">TRIP</span>
        <br><span>PAYZIES</span>
      </h1>

    <%# ↓↓↓キャッチコピー↓↓↓ %> 
    </div mx-4>
    <div class="flex justify-center my-20 mx-4">
      <h2 class="text-white text-right text-2xl">
        <div class="flex items-start">グループ旅行の立替を</div>
        <div class="flex items-end justify-end"><span class="text-action-yellow text-4xl">さくっ</span>と記録</div>
        <div class="flex items-start">面倒な精算も</div>
        <div class="flex items-end justify-end"><span class="text-action-yellow text-4xl">さくっ</span>と解決</div>
      </h2>
    </div>

    <%# ↓↓↓アプリ利用手順↓↓↓ %>
    <div class="flex justify-center my-5">
      <ol class="list-decimal pl-6 text-xl text-white mx-auto space-y-8">
        <li>旅行メンバーを入力してスタート!</li>
        <li>「誰が・いくら・誰の分を」かんたん入力</li>
        <%# <li>グラフで立替状況をひとめいでチェック</li> %>
        <li>最後に、誰が誰にいくら払うかを自動計算!</li>
      </ol>
    </div>

    <%# ↓↓↓startボタン↓↓↓ %>
    <div class="flex justify-center my-10">
    <%= link_to new_user_session_path, class: "lp-btn shadow-secondary" do %>
      Start!<%= inline_svg("svg/plane.svg", alt:"飛行機アイコン", class:"h-[1em] align-middle inline")%>
    <% end %>
    </div>

  </div>
</body>
