<div  data-trip-validate-target="flashError"
      data-participant-validate-target="flashError"
      data-expense-validate-target="flashError"
      data-group-validate-target="flashError"
      class="relative z-20 overflow-visible -translate-y-20 transition-transform transform duration-700 flex justify-end mr-4">

  <div data-action="click->expense-validate#touchClose 
                    click->trip-validate#touchClose 
                    click->participant-validate#touchClose
                    click->group-validate#touchClose"
       class="absolute bg-primary-red flash-element flex">
      <p></p>
    <%= inline_svg("svg/cross.svg", class:"w-8 pl-4") %>
  </div>
</div>