<div class="relative z-20 overflow-visible -translate-y-20 transition-transform transform duration-700 flex justify-end mr-4">
  <div class="absolute bg-primary-blue-100 flash-element flex">
      <p></p>
    <%= inline_svg("svg/cross.svg", class:"w-8 pl-4") %>
  </div>
</div>