<% content_for(:title, t('pages.expenses.edit.title')) %>

<div data-controller="expense-validate" class="flex flex-col h-full">

  <%# stimulus用フラッシュエラーメッセージ ------------------ %>
  <%= render 'layouts/flash_message/error_for_stimulus' %>

  <%# ページ案内 ------------------ %>
  <h1 class="mt-2 my-2 text-xl font-bold w-full text-center"><%= t('pages.expenses.edit.title') %></h1>

  <%# フォーム & ボタン ------------------ %>
  <%= render 'expenses/expense_form'%>
</div>