<div>
  <h1 class="font-bold text-4xl">Expenses#show</h1>
  <p>Find me in app/views/expenses/show.html.erb</p>
  <p><%= @expense.title %></p>
  <p><%= @expense.amount %></p>

  <% @participants.each do |participant|%>
   <p><%= participant.name %></p>
  <% end %>
</div>
