<script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js" type="module"></script>
<div class="absolute h-full z-40 pointer-events-none" data-controller="celebrate">
  <dotlottie-wc src="https://lottie.host/f0117a60-28a8-4d25-8b50-7915e744a5dc/RwWQk6pVUT.lottie" class="h-full hidden" speed="1" autoplay data-celebrate-target="effect"></dotlottie-wc>
</div>