<div class="-translate-y-full transition-transform transform duration-700"
  data-trip-validate-target="flashError"
  data-participant-validate-target="flashError"
  data-expense-validate-target="flashError">
  
  <p class="z-10 bg-primary-red text-white text-sm"></p>
</div>