<%# flashメッセージの分岐%>
<div data-controller="flash" 
      data-flash-target="moveArea" 
      class="relative z-20 overflow-visible -translate-y-20 transition-transform transform duration-700 flex justify-end mr-4">
  <% if notice.present? %>
    <p data-action="click->flash#touchClose"
        class="absolute bg-primary-blue-100 flash-element"><%= notice %>
      <%= inline_svg("svg/cross.svg", class:"w-8 pl-4") %>
    </p>
  <% elsif alert.present? %>
    <p data-action="click->flash#touchClose"
        class="absolute bg-primary-red flash-element"><%= alert %>
      <%= inline_svg("svg/cross.svg", class:"w-8 pl-4") %>
    </p>
  <% end %>
</div>