  <%# logo&text %>
  <%= link_to unauthenticated_root_path, class:"flex h-full items-center ml-6" do %>
    <%= inline_svg("svg/map-icon.svg", class:"w-7") %>
    <div class="font-for-icon font-bold text-xl ml-2 leading-none">
      <span class="text-theme-brown tracking-widest">TRIP</span>
      <br><span class="text-white tracking-widest">PAYZIES</span>
    </div>
  <% end %>
  <%# humburger-menu %>
  <% unless devise_controller? %>
    <%= inline_svg("svg/menu.svg", id:"menu-btn", class:"w-8 text-white mr-4 cursor-pointer hover:text-gray-400") %>
  <% end %>