<%# tailwindのアニメーションクラスを効かせるためのsafelist %>
<%# tailwind v4のsafelist設定がわからなかったため %>
<div class="hidden">
  <div class="animate-fadeInUp"></div>
  <div class="animate-x-shake"></div>
  <div class="animate-fadeInDown"></div>
  <div class="animate-fadeIn"></div>
  <div class="animate-expand"></div>
  <div class="animate-shake"></div>
</div>